<section class="footer m-auto py-5">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-3">
                <h4 class="mb-4">GET IN TOUCH</h4>
                <p><i class="fa-solid fa-envelope"></i>Kr@hotmail.com</p>
                <p><i class="fa-solid fa-address-card"></i>717-555-1234</p>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <a href="#" class="btn border border-white p-2 px-4 text-white">Contact Us</a>
            </div>
            <div class="col-3">
                <div class="footer__icons text-center">
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <p class="ms-4">Copywrite ©2019 KR</p>
            </div>
        </div>  
    </div>
</section>