<section class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h2 class="text-center mt-2">About me</h2>
            </div>
            <div class="col-9">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque suscipit porro soluta eligendi provident dignissimos quo reprehenderit illo ea numquam, tempore aliquam similique delectus? Quos nisi explicabo ratione aperiam dolor ipsa vitae vero, modi cum error natus harum nulla maiores nesciunt eaque deleniti ipsum asperiores inventore. Iure eligendi commodi quam doloribus, totam soluta blanditiis, aspernatur mollitia explicabo id sequi suscipit repellendus quibusdam optio cupiditate nulla non, voluptatum animi? Dolores perspiciatis, iure soluta voluptas libero aliquid. Dolore beatae commodi ipsam reiciendis id eaque harum, aliquam reprehenderit fugit consequatur labore voluptatem, nihil iure quia corporis similique maiores! Accusamus praesentium tempore laudantium architecto?</p>
                <a href="#" class="btn btn-dark px-5 py-2 mt-5">Download Resume</a>
            </div>
        </div>
    </div>
</section>